.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  padding: 20px;
  background: #161616;
}

.flex{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

