.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  padding: 20px;
  background: #ebe7e7;
}

.flex{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}


.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  background:transparent;
  justify-content: flex-start;
}