@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Yeseva+One&family=Zen+Dots&display=swap");
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Yeseva+One&family=Zen+Dots&display=swap");
  @font-face {
    font-family: "Fireside";
    src: url("/fonts/fireside-fireside-400.otf") format("opentype");
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Exo 2' !important;
    background: #161616;

  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    cursor: pointer;
  }

