.container {
  width: "100%";
}
.subContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.connectbtn {
  position: fixed;
  right: 42px;
  top: 26px;
  z-index: 100;
}

.container::-webkit-scrollbar {
  width: 0px;
}
.subContainer::-webkit-scrollbar {
  width: 0px;
}